<section id="contribute">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contribute</h2>
                <hr class="primary">
                <p>Create issues or submit pull requests. Any contribution is welcomed.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-5 text-center">
            <a href="http://github.com/ggbecker/content-navigator">
                <i class="fa-brands fa-github fa-4x wow bounceIn"></i>
            </a>
        </div>
    </div>
</section>
