<section class="no-padding" id="download"></section>
<aside>
    <div class="container text-center">
      <div class="call-to-action">
          <h2>Download</h2>

        <div class="col-lg-2 col-lg-offset-3 text-center">
          <a href="https://marketplace.visualstudio.com/items?itemName=ggbecker.content-navigator" class="btn btn-primary btn-xl wow tada">VSCode</a>
        </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
          <a href="https://open-vsx.org/extension/ggbecker/content-navigator" class="btn btn-primary btn-xl wow tada">VSCodium</a>
        </div>
    </div>
</div>
</aside>
<section class="no-padding" id="try_online"></section>
<aside class="bg-dark">
    <div class="container text-center">
      <div class="call-to-action">
          <h2>Try Online</h2>
          <h5>Search for content-navigator in the Extensions tab</h5>
        <div class="col-lg-2 col-lg-offset-3 text-center">
          <a href="https://github.dev/ComplianceAsCode/content" class="btn btn-default btn-xl wow tada">github.dev</a>
        </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
          <a href="https://vscode.dev/github/ComplianceAsCode/content" class="btn btn-default btn-xl wow tada">vscode.dev</a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container text-center">
      <div class="call-to-action">
        <div class="col-lg-4 col-lg-offset-4 text-center">
          <a href="https://gitpod.io/#https://github.com/ComplianceAsCode/content" class="btn btn-default btn-xl wow tada">gitpod.io (Ready-to-Code env)</a>
      </div>
    </div>
  </div>
</aside>
