<section class="no-padding" id="download"></section> 
<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Download Now</h2>

          <div class="col-lg-2 col-lg-offset-3 text-center">
            <a href="https://marketplace.visualstudio.com/items?itemName=ggbecker.content-navigator" class="btn btn-default btn-xl wow tada">VSCode</a>
          </div>
          <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://open-vsx.org/extension/ggbecker/content-navigator" class="btn btn-default btn-xl wow tada">VSCodium</a>
          </div>
      </div>
    </div>
</aside>
