<section class="no-padding" id="examples">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Examples</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="img/gif/open_rule.gif" class="portfolio-box">
                    <img src="img/png/open_rule.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Open a rule.yml file using the Rule ID
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/gif/open_built_profile.gif" class="portfolio-box">
                    <img src="img/png/open_built_profile.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Open the built file from a profile
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/gif/copy_rule_id.gif" class="portfolio-box">
                    <img src="img/png/copy_rule_id.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Copy the Rule ID
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/gif/open_built_content.gif" class="portfolio-box">
                    <img src="img/png/open_built_content.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Open the built OVAL content from a templated Rule
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/gif/template_snippet.gif" class="portfolio-box">
                    <img src="img/png/template_snippet.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Snippet for <b>package_installed</b> template
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/gif/launch_configuration.gif" class="portfolio-box">
                    <img src="img/png/launch_configuration.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Launch configuration snippet for Automatus
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
