<section class="no-padding" id="features">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-12 col-sm-8">
                <a href="#features" class="portfolio-box">
                    <img src="img/portfolio/open_rule_enable_fips_mode.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Content
                            </div>
                            <div class="project-name">
                                Open Rule
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
